[Unit]
Description=NodeJS ticketing-system-backend
After=network.target
 
[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/nodeapps/ticketing-system-backend/
ExecStart=/bin/bash -lc 'npm run start'
Restart=on-failure
RestartSec=5
 
[Install]
WantedBy=multi-user.target

